<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Production Error</h1>
    <p>
      An error occured during the execution of <%= @klass %>.<br>
    </p>
    <h1>Error details</h1>
    <p><%= @error %></p>
  </body>
</html>
