<p>Welcome to Black Lotus!</p>

<p>You can confirm your email account using the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}).html_safe %></p>
