<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <% if @error_notification %>
      <%= yield %>
    <% else %>
      <p>Namaste <%= @resource.name.try(:split).try(:first).try(:capitalize) %>,</p>
      <%= yield %>

      <p>Thank you.</p>
      <p>Breathe. Smile. Meditate. Let go.</p>
      <p>Black Lotus Support</p>
    <% end %>
  </body>
</html>
